* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    width: 400px;
    height: 450px;
    background-color: pink;
    margin: auto;
}
/* Card head */
.card-head {
    width: 100%;
    /* height: 80px;
    background-color: orange; */
}
.card-head-left {
    width: 20%;
    height: 80px;
    background-color: black;
}
.card-head-center {
    width: 70%;
    height: 80px;
    background-color: red;
}
.card-head-right {
    /* width: 10%; */
    width: calc(100% - 70% - 20%);
    height: 80px;
    background-color: blue;
}




/* Card body */
.card-body {
    width: 100%;
    height: 250px;
    background-color: green;
}
/* Card foot */
.card-foot {
    width: 100%;
    height: 200px;
    background-color: violet;
}