* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Loading */

.spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid black;
  margin: auto;
  margin-top: 100px;
  border-right-color: transparent;
  border-left-color: transparent;
  /* Sử dụng */
  animation: spinner 1s infinite ease alternate;
}

/* Khai báo animation là @keyframe */

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Vibrate */
.vibrate {
    border: none;
    background-color: violet;
    color: white;
    font-size: 30px;
    font-weight: bold;
    animation: vibrate 0.3s linear infinite both;
}

/* Khai báo */
@-webkit-keyframes vibrate {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }