* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.top-side {
    margin: auto;
    background-color: violet;
    width: 80%;
    height: 1000px;
    display: flex;
}

.cards-container {
    display: flex;
    flex-direction: row;
    background-color: violet ;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.card-1, a {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.title-1 {
    font-size: 25px;
}

.card-body-1 {
    display: flex;
}

.not-title-1 {
    font-size: 15px;
    color: gray;
}

.star-1 {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    gap: 2px;
}
.rating-1 {
    font-size: 15px;
    color: gray;
}

.price-1 {
    margin-top: auto;
    font-size: 20px;
    color: goldenrod;
}

.card-2,a {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.title-2 {
    font-size: 25px;
}

.card-body-2 {
    display: flex;
}

.not-title-2 {
    font-size: 15px;
    color: gray;
}

.star-2 {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    gap: 2px;
}
.rating-2 {
    font-size: 15px;
    color: gray;
}

.price-2 {
    margin-top: auto;
    font-size: 20px;
    color: goldenrod;
}

/* Card 3 */

.card-3,a {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.title-3 {
    font-size: 25px;
}

.card-body-3 {
    display: flex;
}

.not-title-3 {
    font-size: 15px;
    color: gray;
}

.star-3 {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    gap: 2px;
}
.rating-3 {
    font-size: 15px;
    color: gray;
}

.price-3 {
    margin-top: auto;
    font-size: 20px;
    color: goldenrod;
}

/* Card 4 */

.card-4,a {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.title-4 {
    font-size: 25px;
}

.card-body-4 {
    display: flex;
}

.not-title-4 {
    font-size: 15px;
    color: gray;
}

.star-4 {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    gap: 2px;
}
.rating-4 {
    font-size: 15px;
    color: gray;
}

.price-4 {
    margin-top: auto;
    font-size: 20px;
    color: goldenrod;
}

/* Card 5 */

.card-5, a {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.title-5 {
    font-size: 25px;
}

.card-body-5 {
    display: flex;
}

.not-title-5 {
    font-size: 15px;
    color: gray;
}

.star-5 {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    gap: 2px;
}
.rating-5 {
    font-size: 15px;
    color: gray;
}

.price-5 {
    margin-top: auto;
    font-size: 20px;
    color: goldenrod;
}

/* Card 6 */

.card-6, a  {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.title-6 {
    font-size: 25px;
}

.card-body-6 {
    display: flex;
}

.not-title-6 {
    font-size: 15px;
    color: gray;
}

.star-6 {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    gap: 2px;
}
.rating-6 {
    font-size: 15px;
    color: gray;
}

.price-6 {
    margin-top: auto;
    font-size: 20px;
    color: goldenrod;
}


.bottom-side {
    width: auto;
    height: 500px;
    background-color: gray;
}

.container {
    padding-top: 30px;
    width: 80%;
    margin: auto;
    display: flex;
    background-color: gray;
    justify-content: space-between;
}

.side-1 > h1 {
    background-color: gray;
    color: white;
}
.side-1 > h3 {
    background-color: gray;
    color: white;
}

.side-2 > h1 {
    background-color: gray;
    color: white;
}

.side-2 > h3 {
    background-color: gray;
    color: white;
}

.side-3 > h1 {
    background-color: gray;
    color: white;
}

.side-3 > h3 {
    background-color: gray;
    color: white;
}

.icon-container {
    background-color: gray;
}


